body {
    padding-top: 0;
    padding-bottom: 0;
    background-image: url('../images/pattern.png');
    background-repeat: repeat;
  }

.custom {
  background-color: rgb(255, 250, 244);
}

.custom-color {
  background-color: #a593c2;
}