body {
    padding-top: 0;
    padding-bottom: 0;
    background-image: url('../images/pattern.png');
    background-repeat: repeat;
  }

.custom {
  background-color: rgb(255, 250, 244);
}

.custom-color {
  background-color: #a593c2;
}

.bgImg {
  background-image: url(../images/carousel3.jpg);
  background-repeat: fixed;
  background-size: 100%;
}

.error {
  color: red;
}